body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: rgba(0, 142, 214, 0.3) 3px solid;
}

#home-section {
  background: url("https://image.ibb.co/nJenny/children_community_family_9746.jpg") no-repeat;
  background-size: 1920px 120%;
  background-attachment: fixed;
  min-height: 700px;
}
#home-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}
#home-section .home-inner {
  padding-top: 150px;
}
#home-section .card-form {
  opacity: 0.8;
}
#home-section .fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

#explore-section .fa, #share-section .fa {
  color: #fff;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

#create-section .fa {
  color: #333;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}
